@import "default.scss";

.carddata {
    width: 201px;
    max-width: 201px;
    height: 350px;
    max-height: 350px;
    margin: 20px auto 19px auto;
    opacity: 1;
}

.carddata .card-image {
    width: 200px;
    max-width: 200px;
    height: 150px;
    max-height: 150px;
    border: 1px solid $mainColor;
    text-align: center;
    opacity: 1; 
}

.carddata .card-image img {
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.carddata .card-content {
    font-family: $fontFamily;
    letter-spacing: 0;
    color: $fontColor;
    opacity: 1;
}

.carddata .card-content .name {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 10px;
}

.carddata .card-content .description {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    max-height: 60px;
}

.carddata .card-content .old-price {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 6px;
}

.carddata .card-content .price {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 7px;
}

.carddata .card-content .installments {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}